@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Merienda', cursive;
}
header {
    padding: 10px 100px;
    background-color: #227382;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: static;
}
.logo{
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    color: white;
}
.navigation-bar a{
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    padding-left: 40px;
    color: white;
    text-transform: uppercase;
    
}
.navigation-bar a:hover
{
    color: blue;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(picture/albert-YYZU0Lo1uXE-unsplash.jpg) ;
    background-position: center;
    background-size: cover; 
}
.text-zone h2{
    position: absolute;
    text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 160px;
   -webkit-text-stroke: 1px #fff;
   color: transparent;
   background-image: linear-gradient(#fff, #fff);
   background-repeat: no-repeat;
   -webkit-background-clip: text;
   background-position: -750px 0;
   animation: backcolor 8s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}
.chef-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
    gap: 1.5em;
}
.chef-information img{
    width: 280px;
    height: 180px;
    margin-top: -25px;
}
.chef-information h1{
    font-size: 1.5em;
    font-weight:900;
}
.chef-information h3{
    font-size: 1.3em;
    font-weight: 300 ;
}
.chef-information p{
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
}
.social-icon1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
} 
.social-icon1 a {
    color: #227382;
    font-size: 2em;
    padding-right: 30px;
  } 
.social-icon1 a :hover{
    color: rgb(86, 83, 106);
}
.more-information{
    padding: 200px 200px;
}
.photo img{
    height: 700px;
    width: 500px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.photo{
    margin: 15px;
}
.more-information h2{
    font-size: 2.7em;
    font-weight: 600;
    color: rgb(67, 78, 78);
    text-align: center;
    font-family: 'Merienda', cursive;
    text-transform: capitalize;
}
.comment h1{
    font-size: 2.7em;
    font-weight: 600;
    text-align: center;
    color: rgb(67, 78, 78);
    font-family: 'Merienda', cursive;
    transform: translate(-10px, 230px);
}
.card{
    display: grid;
    grid-template-columns: 200px 200 200px;
    grid-template-rows: 195px 216px 210px;
    margin-top: 324px;
}
.card p{
    font-size: 1.5em;
    font-weight: 700;
}
.comment-1{
    grid-row: 1/2;
    grid-column: 1/4;
    border-radius: 15px; 
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    margin: 10px;
    padding: 25px;
    color: white;
    background-color: rgb(86, 83, 106);
}
.comment-2{
    grid-row: 2/3;
    grid-column: 2/4;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 15px;
    margin: 20px;
    padding: 15px;
    color: white;
    background-color:  rgb(86, 83, 106);
}
.comment-3{
    grid-row: 2/3;
    grid-column: 1/2;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: rgb(86, 83, 106);
}
.comment-4{
    grid-row: 3/4;
    grid-column: 1/3;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: rgb(86, 83, 106);
}
.comment-5{
    grid-row: 3/4;
    grid-column: 3/4;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 15px;
    margin: 10px;
    padding: 25px;
    color: white;
    background-color: rgb(86, 83, 106);
}
.comment-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.card-comment{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    background-color:rgb(86, 83, 106);
    color: white;
    width: 550px;
    height: 730px;
    margin-top: 150px;
    margin-left: 100px;
    padding-top: 50px;
}
.class{
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: start;
}
.input-box input{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 350px;
    height: 30px;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
}
.input-comment input{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 350px;
    height: 150px;
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 100px;
    padding-left: 15px;
}
.class button{
    transform: translate(120px, 10px);
    border-radius: 15px;
    width: 100px;
    font-size: 1.3em;
    font-weight: 300;
}
.card-image img{
    transform: translate(50px, 60px);
}
footer{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(picture/albert-YYZU0Lo1uXE-unsplash.jpg) ;
    background-position: center;
    background-size: cover; 
}
.order-container{
     border: 2px solid white;
     border-radius: 30px;
     backdrop-filter: blur(20px);
     min-height: 670px;
     width: 515px;
     color: white;
     transform: translate(640px, 150px);
     text-align: center;
     padding: 25px;
}
.order-container p{
    padding-top: 25px;
}
.order-container form{
    padding-top: 25px;
    padding-left: 25px;
    text-align: start;
}
.fill-input{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 80px;
}
.fill-input input{
    width: 400px;
    height: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    font-weight: 500;
    font-size: 1.2em
}
.photo-1{
    background: url(picture/henry-be-_y5CCcYWTjU-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}
.social-icon2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 225px;
    gap: 55px;
    padding-left: 717px;
}
.social-icon2 a{
    color: #227382;
    font-size: 2em;
}
.social-icon2 a :hover{
    color: rgb(86, 83, 106);
}